### 주식 기본 용어
- EPS : 주당순이익 = 당기순익 / 주식수
- PER : 주가수익배수 = 현재주가 / 주당순이익(EPS)
- DPS : 주당배당금 = 총배당금 / 주식수
- PBR(Price to Book Ratio) : 주가순자산비율 = 현재주가 / 주당순자산(BPS) 
- ROE(Return On Equity) : 자기자본이익율 = 당기순이익 / 자본총계

In [1]:
from pandas import DataFrame

data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2021/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data=data, index=index, columns=columns)
df

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [2]:
## filter
df.filter(items=['2018/12'])

     2018/12
DPS  1416.00
PER     6.42
PBR     1.10

In [4]:
df.filter(items=['PER','PBR'], axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [5]:
df.filter(regex='2020')

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

In [6]:
df.filter(regex='^2020') # ^ 시작하는, $ 끝나는

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

In [7]:
df

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [8]:
df.filter(regex='R$', axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [13]:
# 문자열에서 찾는다 : \d{4} => d : 숫자, {4} 4자리
df.filter(regex='\d{4}/\d{2}$') # 앞에 숫자4자리 / 숫자2자리
# 2018/12 regex='\d{4}/\d{2}$' ok
# 2018/1200 X
# 2018/121231312 X

     2018/12  2019/12  2020/12
DPS  1416.00  1416.00  2994.00
PER     6.42    17.63    21.09
PBR     1.10     1.49     2.06

In [14]:
from pandas import DataFrame

data = [
    ["037730", "3R", 1510],
    ["036360", "3SOFT", 1790],
    ["005670", "ACTS", 1185]
]

columns = ["종목코드", "종목명", "현재가"]
df = DataFrame(data=data, columns=columns)
df.set_index("종목코드", inplace=True)
df

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

In [18]:
df2 = df.sort_values('현재가', ascending=False)
df2

          종목명   현재가
종목코드
036360  3SOFT  1790
037730     3R  1510
005670   ACTS  1185

In [19]:
# rank
df['순위'] = df['현재가'].rank()
df

          종목명   현재가   순위
종목코드
037730     3R  1510  2.0
036360  3SOFT  1790  3.0
005670   ACTS  1185  1.0

In [23]:
df['현재가'] = 1000
df['순위'] = df['현재가'].rank(method='max')
df

          종목명   현재가   순위
종목코드
037730     3R  1000  3.0
036360  3SOFT  1000  3.0
005670   ACTS  1000  3.0

In [24]:
import pandas as pd
idx1 = pd.Index([1,2,3]) # named index 생성
idx2 = pd.Index([2,3,4])

In [25]:
type(idx1)

pandas.core.indexes.base.Index

In [26]:
df

          종목명   현재가   순위
종목코드
037730     3R  1000  3.0
036360  3SOFT  1000  3.0
005670   ACTS  1000  3.0

In [27]:
df.index

Index(['037730', '036360', '005670'], dtype='object', name='종목코드')