In [2]:
import numpy as np
import pandas as pd
import re
import glob
import os
from datetime import datetime
from sqlalchemy import create_engine, text
import pandas as pd

In [3]:
# MariaDB에 연결하기
engine = create_engine("mysql+pymysql://big17:jh162534@34.64.102.63:3306/trading?charset=utf8mb4")
conn = engine.connect()

In [4]:
# 모든 csv를 저장시키기위해 불러오기
path = r'C:\education\드래곤볼\ll'
all_fils = glob.glob (os.path.join(path,'*.csv'))
all_fils

['C:\\education\\드래곤볼\\ll\\005490.csv', 'C:\\education\\드래곤볼\\ll\\247540.csv']

In [ ]:
# 각각 csv를 열어서컬럼명 지정 및 종목코드넣기 
list = ['ticker','trading_day','open','high','low','close','vol','money']
files = []
for file in all_fils:
#파일명에서 종목코드를 추출합니다.
    filenames =  file.split('\\')[-1]
# 정규표현식을 사용하여 종목코드에서 숫자를 제거합니다.
    jocode = file.split('\\')[-1].split('_')[0]
# pd.read_csv() 함수를 사용하여 csv 파일을 읽어와 st_df라는 DataFrame에 저장합니다.
    new_sentence = re.sub(r'\d+\\.csv', '', jocode)
# 'ticker' 열을 생성하고, 추출한 종목코드를 저장합니다.
    st_df = pd.read_csv(file)
# st_df DataFrame의 컬럼명을 list 변수에 저장된 값으로 변경합니다.
    st_df.insert(0,'ticker', new_sentence)
    st_df.columns = list
# st_df DataFrame을 files 리스트에 추가합니다.
    files.append(st_df)

In [58]:
# 첫 시퀀스처리코드
result = conn.execute(text("SELECT COALESCE(MAX(S.price_sq), 0) + 1 AS next_shseq FROM PRICE2 S"))
next_shseq = result.scalar()

In [61]:
# DB에 넣기
for i, newnew_df in enumerate(files):
    new_seq = []
    for idx, row in newnew_df.iterrows():
        new_seq.append(next_shseq + idx)
    newnew_df.insert(0,'price_sq', new_seq)
    # newnew_df['shseq'] = new_seq
    next_shseq += len(newnew_df)
    newnew_df.to_sql('PRICE2', conn, if_exists='append', index=False)
    conn.commit()
    print(i)
conn.close()

0
1